.content1{

    width: content;
    height: content;
}
.fondoImg{

        background-image: url("../img/fondo1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: content;
        width: content;
        padding: 0px;
        top: 0px;
        left: 0;
        right: 0;
}

.logoMenu{

    position: fixed;
    margin: 0;
	width: 100%;
	height: 80px;
}

.logoVision{

    margin-left: 20px;
	margin-top: 20px;
    max-height: 100%;
    color: rgba(255,255,255,.7);
    width: 85px;
    height: 30px;
    padding: 0 15px;
    float: left;
}


ul{

    list-style: none;
}

.menu{

    float: right;
	width: 550px;
	height: 46px;
	font-size: 14px;
    line-height: 1.65;
    font-size: 16px;
    font-weight: 400;
    margin-left: 1300px;

}

.active{

    border-bottom: 1px solid red;
    color: white;
}

ul li a{

    padding: 0;
	text-decoration: none;
    color: #444;
    font-size: 17px;

}

.menu ul li a:hover{

   color: white;
   cursor: pointer;
   border-bottom: 1px solid red;
}

.menu ul li{

   display: inline;
   text-align: center;
   margin: 0 10px 0 0;
}

.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    
    display: none;
    text-align: left;
    position: absolute;
    z-index: 1020;
    box-sizing: border-box;
    width: 240px;
    padding: 25px;
    background: #232323;
    box-shadow: 2px 2px 4px rgba(0,0,0,.15), 4px 10px 15px rgba(0,0,0,.1);
}

.dropdown-content a{

    background-color: transparent;
    font-size: 16px;
    color: rgba(255,255,255,.7);
    text-decoration: none;
}

.dropdown-content a:hover {
    
    color: red;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.masinfo{

    display: inline;
    text-align: center;
    margin: 0 10px 0 0;

}

.masinfo:hover{

    color: #637282;
    cursor: pointer;
}

.slogan{

    font-size: 92px;
    color: white;
    text-align: left;
    margin-top: 10px;
}

.publi{

    padding-top: 200px;
    margin-left: 200px;
    width: 1360px;
    font-size: 16px;
    height: 418px;
    color: white;

}

hr{

    width: 80px;
    display: inline-block;
    margin-left: 20px;
    padding: 0px;

}

.content2{

    width: 100%;
    height: 100%;
}

.infoZapatillasC2{

    padding-top: 400px;
    margin-left: 200px;
    color:rgb(68, 68, 68);
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    height: 56px;
    margin-top: 20px;
    text-align: left;
    width: 600px;

}

.headInfoZapatillasC2 h1{

    color: rgb(17, 17, 17);
    font-family: Barlow;
    font-size: 79px;
    font-weight: 600;
    height: 79.2px;
    letter-spacing: 0.75px;
    margin-bottom: 20px;
    text-align: left;
    width: 600px;
}

.headInfoZapatillasC2 p{

    color: rgb(68, 68, 68);
    font-size: 16px;
}

.imgZapatillasC2{

    width: 520px;
    height: 850px;
    background-image: url("../img/zapastoasflamas.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 900px;
    margin-top: -400px;
    display: inline-block;

}

.infoZapatillasC2Li{

    color: rgb(17, 17, 17);
    font-size: 20px;
    font-weight: 400;
    height: 29.6px;
    line-height: 30px;
    float: right;

}

.infoZapatillasC2Ul1{

    margin-left: -40px;
}

.infoZapatillasC2Li2{

    color: rgb(17, 17, 17);
    font-size: 20px;
    font-weight: 400;
    height: 29.6px;
    line-height: 30px;
    float: left;
}

.buttonOurServices{

    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
    width: 125px;
    height: 40px;
    margin-top: 200px;
    vertical-align: middle;

}

.buttonOurServices a{

    padding: 0 20px;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    color: rgb(68, 68, 68);
    vertical-align: middle;
    font-size: 16px;
    line-height: 38px;
}

.buttonOurServices:hover{

    cursor: pointer;
    background-color: gray;
    border: none;
 }

.buttonOurServices a:hover{

    color: white;
 }

 .content3{

    width: content;
    height: content;
    background-color: #232323;

 }
 .cabeceraButtonC3{
     
    width: 100%;
    height: 100%;
    color: black;

 }

 .cabeceraC3{

    color: rgb(255, 255, 255);
    margin-top: 100px;
    margin-left: 200px;
    font-family: Barlow;
    font-size: 40px;
    font-weight: 600;
    height: 79.2px;
    letter-spacing: 0.75px;
    line-height: 79.2px;
    display: inline-block; 
 }

 .buttonAllProyects{

    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    width: 125px;
    height: 40px;
    display: inline-block;
    margin-left: 670px;
    vertical-align: middle;

}

.buttonAllProyects a{

    padding: 0 20px;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    color: white;
    vertical-align: middle;
    font-size: 16px;
    line-height: 38px;
}

.buttonAllProyects:hover{

    cursor: pointer;
    background-color: white;
    border: none;
 }

.buttonAllProyects a:hover{

    color: black;
 }

 .galeriaC3{

    width: max-content;
    height: max-content;
    margin-top: 200px;
    position: relative;
 }

 .img1C3{

    background-image: url("../img/img1C3.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    width: 600px;
    height: 450px;
    top: 0px;
    left: 0;
    right: 0; 

 }

 .img2C3{
     
    background-image: url("../img/img2C3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 607px;
    height: 450px;
    margin-left: 90px;
    top: 0px;
    left: 0;
    right: 0;
}

.img3C3{
     
    background-image: url("../img/img3C3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 620px;
    height: 450px;
    margin-left: 90px;
    top: 0px;
    left: 0;
    right: 0;
}

.galeriaC3 div{

    display: inline-block;
    padding-bottom: 200px;
}

.galeriaC3 div:hover{

    opacity: 0.5;
}

.content4{

    width: content;
    height: content;
    background-color: white;
    margin-top: 100px;
}

.cabeceraC4{

    color: rgb(17, 17, 17);
    display: inline-block;
    font-family: Barlow;
    font-size: 25px;
    font-weight: 600;
    height: 69.6px;
    letter-spacing: 0.75px;
    line-height: 70.2px;
}

.cabeceraC4 h1{

    display: inline-block;
    margin-left: 200px;
}

.cabeceraInfoC4{

    display: inline-block;
    margin-left: 700px;
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    height: 56px;
    line-height: 28px;
    width: content;
}

.tableC4{

    margin-left: 250px;
    margin-top: 100px;
    width: content;
    height: content;
    display: block;
}

.row1C4 th{

    margin-left: 2000px;
    margin-top: 2000px;
    
}

.tabla11{

    background-image: url("../img/tabla11.svg");
    background-repeat: no-repeat;
    width: 90px;
    height: 50px;
    background-size: contain;
    padding-left: 200px;
    border: 0;
    
}
.tabla12{

    background-image: url("../img/tabla12.svg");
    background-repeat: no-repeat;
    width: 115px;
    height: 75px;
    background-size: contain;
    padding-left: 200px;
    border: 0;
    
}
.tabla13{

    background-image: url("../img/tabla13.svg");
    background-repeat: no-repeat;
    width: 125px;
    height: 40px;
    background-size: contain;
    padding-left: 200px;
    border: 0;
    
}
.tabla14{

    background-image: url("../img/tabla14.svg");
    background-repeat: no-repeat;
    width: 125px;
    height: 40px;
    background-size: contain;
    padding-left: 200px;
    border: 0;
    
}

.tabla15{

    background-image: url("../img/tabla15.svg");
    background-repeat: no-repeat;
    width: 105px;
    height: 50px;
    background-size: contain;
    padding-left: 200px;
    border: 0;
    
}

.tabla21{

    background-image: url("../img/tabla21.svg");
    background-repeat: no-repeat;
    width: 115px;
    height: 40px;
    background-size: contain;
    padding-left: 200px;
    border: 0;
    
}
.tabla22{

    background-image: url("../img/tabla22.svg");
    background-repeat: no-repeat;
    width: 120px;
    height: 45px;
    background-size: contain;
    padding-left: 200px;
    border: 0;
    
}
.tabla23{

    background-image: url("../img/tabla23.svg");
    background-repeat: no-repeat;
    width: 110px;
    height: 45px;
    background-size: contain;
    padding-left: 200px;
    border: 0;
    
}
.tabla24{

    background-image: url("../img/tabla24.svg");
    background-repeat: no-repeat;
    width: 125px;
    height: 40px;
    background-size: contain;
    padding-left: 200px;
    border: 0;
    
}

.tabla25{

    background-image: url("../img/tabla25.svg");
    background-repeat: no-repeat;
    width: 120px;
    height: 40px;
    background-size: contain;
    padding-left: 200px;
    border: 0;
    
}

.tabla31{

    background-image: url("../img/tabla31.svg");
    background-repeat: no-repeat;
    width: 115px;
    height: 40px;
    background-size: contain;
    padding-left: 200px;
    border: 0;
    
}
.tabla32{

    background-image: url("../img/tabla32.svg");
    background-repeat: no-repeat;
    width: 140px;
    height: 40px;
    background-size: contain;
    padding-left: 200px;
    border: 0;
    
}
.tabla33{

    background-image: url("../img/tabla33.svg");
    background-repeat: no-repeat;
    width: 160px;
    height: 35px;
    background-size: contain;
    padding-left: 200px;
    border: 0;
    
}
.tabla34{

    background-image: url("../img/tabla34.svg");
    background-repeat: no-repeat;
    width: 125px;
    height: 40px;
    background-size: contain;
    padding-left: 200px;
    border: 0;
    
}

.tabla35{

    background-image: url("../img/tabla35.svg");
    background-repeat: no-repeat;
    width: 145px;
    height: 45px;
    background-size: contain;
    padding-left: 200px;
    border: 0;
    
}

.postTableHr{

    border: 0.7px solid rgb(68, 68, 68);
    margin-top: 100px;
    margin-left: 200px;
    width: 1600px;
    opacity: 0.4;
}

.cabecera2C4{

    width: content;
    height: content;
    margin-top: 200px;
}
.cabecera2H2C4{

    color: rgb(17, 17, 17);
    display: inline-block;
    font-family: Barlow;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    height: 36px;
    line-height: 36.4px;
    margin-left: 200px;
    color: #444;
}


.cabeceraInfo2C4{

    color: #444;
    display: inline-block;
    font-family: Barlow;
    margin-top: -200px;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    height: content;
    letter-spacing: normal;
    line-height: 36px;
    margin-left: 1150px;

}

.content5{

    width: content;
    height: content;
    background-color: #232323;
}

.bodyC5{

    width: content;
    height: content;
    margin-left: 200px;
    margin-top: 200px;
    padding-top: 200px; 
}

.cabeceraC5{

    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: Barlow;
    font-style: normal;
    font-size: 50px;
    font-weight: normal;
    height: 158.4px;
    letter-spacing: 0.75px;
    line-height: 79.2px;
}

.cabeceraC5 a{

    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: Barlow;
    font-style: normal;
    font-size: 50px;
    font-weight: normal;
    height: 158.4px;
    letter-spacing: 0.75px;
    line-height: 79.2px;
}

.cabeceraC5 a h1:hover{

    color: #444;
    text-decoration: none;
    cursor: pointer;
}

.cabeceraC5 a:hover{

    text-decoration: none;
    cursor: pointer;
}

.studios{

    width: content;
    height: content;
    display: inline-block;
    margin-left: 650px;
    font-size: 16px;
}

.studios a{

    color: white;
    font-size: 24px;
}

.studios p{

    color: #444;
    font-size: 16px;
}

.studios h2{

    font-size: 28px;
    color: white;
}

.studioEast{
    
    display: inline-block;

}

.studioWest{

    display: inline-block;
    margin-left: 50px;

}

.emailC5:hover{

    text-decoration: none;
    color: #444;
}

.footC5{

    width: content;
    height: content;
    margin-left: 200px;
    margin-top: 200px;
    padding-bottom: 200px;
}

.visionSloganC5{

    font-size: 16px;
    color: #444;
}

.visionSloganC5 span{

    color: rgb(255, 255, 255);
    display: inline;
    font-family: Barlow;
    font-size: 24px;
    font-weight: 400;
    line-height: 31.2px;

}

.socialMedia{

    width: content;
    height: content;
    display: inline-block;
    margin-left: 1060px;
}

.socialMedia div{

    display: inline-block;
    border: 0;
}

.twitterC5{

    background-image: url("../img/twitter.png");
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-left: 90px;
    top: 0px;
    left: 0;
    right: 0;
}

.pinterestC5{

    background-image: url("../img/printerest.png");
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-left: 90px;
    top: 0px;
    left: 0;
    right: 0;
}

.instagramC5{

    background-image: url("../img/instagram.png");
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-left: 90px;
    top: 0px;
    left: 0;
    right: 0;
}

.behanceC5{

    background-image: url("../img/be.png");
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-left: 90px;
    top: 0px;
    left: 0;
    right: 0;
}

.socialMedia div a img:hover{

    opacity: 0.5;
}